<h1>Module1</h1>
<p>{{ module1?.body }}</p>
<p>Module1 {{ module1?.counter }}</p>
<input
  type="button"
  value="Action Module1 Counter"
  (click)="module1Action1Handler()"
/>
<input
  type="button"
  value="Action Module1 Counter with Params"
  (click)="module1Action1WithParamsHandler()"
/>

<h1>Module2</h1>
<p>{{ module2?.story }}</p>
<p>Module1 {{ module1?.counter }}</p>
<input type="button" value="GET POST" (click)="getPostActionHandler()" />

<h1>Ajax : Post Module</h1>
<h2>{{ post?.title }}</h2>
<p>{{ post?.body }}</p>
